.video_container-home {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    overflow: hidden;

    #background_video-home {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
}

@media (min-aspect-ratio: 16/9) {
    #background_home-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background_home-video {
        width: auto;
        height: 100%;
    }
}