@charset "UTF-8";
/* Variables couleurs primaire et secondaire */
/* Noir opacité 0.5 pour le rendre transparent */
/* Couleur des tags */
/* Couleur blanche, juste pour rendre plus pratiques les potentiels changements */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #212628;
  color: white;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.center {
  margin: 0 auto;
  max-width: 1200px;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.checked {
  color: orange;
}

.btn_next_sessions-home {
  background-color: rgb(255, 73, 73);
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
}
.btn_next_sessions-home:hover {
  background-color: #fff;
  color: rgb(255, 73, 73);
  border: 1px solid rgb(255, 73, 73);
  transition: 0.2s ease-out;
}

.searchbar-home {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.searchbar-home input {
  width: 750px;
  padding: 20px;
  border-radius: 40px;
  border: 2px #fff solid;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  transition: all 0.15s ease;
  color: #fff;
}
.searchbar-home input::-moz-placeholder {
  color: #fff;
}
.searchbar-home input:-ms-input-placeholder {
  color: #fff;
}
.searchbar-home input::placeholder {
  color: #fff;
}
.searchbar-home input:focus {
  background-color: #fff;
  color: #000;
}
.searchbar-home .searchbar-icon {
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 20px;
  background-color: rgb(255, 73, 73);
}
.searchbar-home .searchbar-icon:hover {
  background-color: #ff7c7c;
  transition: ease-in-out 0.15s;
}

.video_container-home {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
}
.video_container-home #background_video-home {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

@media (min-aspect-ratio: 16/9) {
  #background_home-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #background_home-video {
    width: auto;
    height: 100%;
  }
}
.footer {
  background-color: rgb(31, 31, 31);
  padding: 70px 0;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgb(255, 73, 73);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #212628;
  transition: all 0.3s ease;
}
.footer-col .social-links a:hover {
  color: #fff;
  background-color: rgb(255, 73, 73);
}

/* RESPONSIVE */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
header {
  transition: background-color 0.3s ease;
  background-color: transparent;
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
header.inverted {
  background-color: rgb(31, 31, 31);
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}
header .leftside-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
header .leftside-header #logofreeledge {
  width: 75px;
  border-radius: 50%;
  box-shadow: white 0px 0px 8px 3px;
}
header .leftside-header .under_logo-header {
  font-size: 10px;
  font-weight: 400;
}
header .rightside-header {
  height: 100%;
  display: flex;
  align-items: center;
}
header .rightside-header .navbar-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}
header .rightside-header .onglet_navbar-header {
  margin-right: 20px;
  font-weight: 500;
  color: #fff;
}
header .rightside-header .onglet_navbar-header:hover > a {
  transition: all 0.3s ease;
  color: rgb(255, 73, 73);
}
header .rightside-header .icon_navbar-header {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700 !important;
}
header .rightside-header .icon_navbar-header:hover {
  transition: all ease 0.3s;
  color: rgb(255, 73, 73);
}
header .rightside-header #onglet_formations {
  position: relative;
}
header .rightside-header #onglet_formations:hover .dropdown_navbar-header {
  display: block;
}
header .rightside-header .dropdown_navbar-header {
  position: absolute;
  display: none;
  font-size: 14px;
  background-color: #4e5457;
  padding: 8px 15px;
}
header .rightside-header .menu_hamburger-header {
  display: none;
  position: absolute;
  right: 35px;
  top: 35px;
  width: 35px;
  filter: invert(100%) sepia(100%) saturate(21%) hue-rotate(213deg) brightness(105%) contrast(100%);
}
@media screen and (max-width: 600px) {
  header .rightside-header .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
  }
  header .rightside-header .onglet_navbar-header {
    width: 100%;
  }
  header .rightside-header .menu_hamburger-header {
    display: block;
  }
}

.top_container-home {
  padding-top: 200px;
  text-align: center;
}
.top_container-home .welcometext-home {
  margin-bottom: 16px;
  font-size: 24px;
}
.top_container-home .searchbar_title-home {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 20px;
}
.top_container-home .searchbar_exemples-home {
  font-size: 12px;
  margin-top: 8px;
  text-align: start;
  margin-left: 200px;
}
.top_container-home .review_stars-home {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 250px;
  margin: 40px auto;
  gap: 10px;
  font-size: 24px;
}
.top_container-home .review_stars-home p {
  font-weight: 600;
}
.top_container-home .reviews_verified-home {
  font-size: 24px;
}

.next_sessions_container-home {
  margin-top: 61px;
  position: relative;
  background-color: #2f3436;
  text-align: center;
  padding-bottom: 60px;
}
.next_sessions_container-home .subtitle-home {
  padding-top: 50px;
  margin-bottom: 25px;
}
.next_sessions_container-home .next_sessions_card-home {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}
.next_sessions_container-home .session_card-home {
  position: relative;
  width: 350px;
  height: 350px;
  background-image: url(images/photobureau1.png);
  background-size: cover;
}
.next_sessions_container-home .session_card-home:hover .session_card_description-home {
  transition: all 0.3s ease;
  height: 100%;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
}
.next_sessions_container-home .session_card-home:hover .session_card_lieu-home,
.next_sessions_container-home .session_card-home:hover .session_card_date-home {
  display: block;
}
.next_sessions_container-home .session_card_description-home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40%;
  padding: 20px;
}
.next_sessions_container-home .session_card_review-home {
  display: flex;
  gap: 10px;
}
.next_sessions_container-home .session_card_review-home p {
  font-weight: 700;
}
.next_sessions_container-home .session_card_lieu-home,
.next_sessions_container-home .session_card_date-home {
  display: none;
}

.finance_container-home {
  text-align: center;
  background-color: #212628;
  padding: 50px 0;
}
.finance_container-home .description_subtitle-home {
  margin: 10px 0 25px 0;
}
.finance_container-home .finance_cards_bloc-home {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #212628;
}
.finance_container-home .finance_cards_bloc-home a {
  width: 25%;
}
.finance_container-home .finance_card-home {
  text-align: start;
  width: 100%;
  height: 320px;
  position: relative;
  background-color: #2f3436;
  padding: 15px;
}
.finance_container-home .finance_card-home:hover {
  background-color: #384144;
  transition: ease-in-out 0.2s;
}
.finance_container-home .finance_card_tag-home {
  color: rgb(255, 73, 73);
  font-size: 13px;
}
.finance_container-home .finance_card_title-home {
  font-size: 18px;
  font-weight: 600;
}
.finance_container-home .finance_card-home img {
  position: absolute;
  display: block;
  width: 250px;
  height: 160px;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
}

.satisfaction_client_container-home {
  padding: 50px 0;
  background-color: #2f3436;
  height: 30vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
}
.satisfaction_client_container-home .satisfaction_client_card-home img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
}

.reconversion_job_container-home {
  text-align: center;
  padding: 50px 0;
  background-color: #212628;
}
.reconversion_job_container-home .reconversion_job_container_title-home {
  margin-bottom: 10px;
}
.reconversion_job_container-home .reconversion_job_container_description-home {
  margin-bottom: 30px;
}
.reconversion_job_container-home .reconversion_job_cards_container-home {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.reconversion_job_container-home .reconversion_job_cards_container-home a {
  width: 50%;
}
.reconversion_job_container-home .reconversion_job_card-home {
  text-align: start;
  width: 100%;
  position: relative;
  background-color: #2f3436;
  padding: 40px;
}
.reconversion_job_container-home .reconversion_job_card-home img {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 300px;
}
.reconversion_job_container-home .reconversion_job_card-home:hover {
  background-color: #474e51;
  transition: ease-in-out 0.2s;
}
.reconversion_job_container-home .reconversion_job_card_tag-home {
  color: rgb(255, 73, 73);
}
.reconversion_job_container-home .reconversion_job_card_title-home {
  position: relative;
  top: 0;
  font-size: 28px;
  padding-bottom: 26px;
}
.reconversion_job_container-home .reconversion_job_card_date-home {
  position: relative;
  bottom: 0;
  padding-top: 20px;
  font-size: 19px;
  font-weight: 600;
  color: rgb(214, 216, 67);
}

.collaborateurs_container-home {
  background-color: #2f3436;
  width: 100%;
  padding: 50px 0;
}
.collaborateurs_container-home .collaborateurs_title-home {
  text-align: center;
  margin-bottom: 30px;
}
.collaborateurs_container-home .collaborateurs_slide-home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
.collaborateurs_container-home .collaborateurs_slide_image-home {
  height: 150px;
}
.collaborateurs_container-home .collaborateurs_slide_image-home img {
  height: 100%;
}

.container-formations {
  padding-top: 100px;
  text-align: center;
}
.container-formations .top_card_title {
  font-size: 36px;
  font-weight: 700;
}
.container-formations .top_card_container {
  display: flex;
  justify-content: center;
}
.container-formations .top_card {
  padding-top: 60px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}/*# sourceMappingURL=main.css.map */