@charset "UTF-8";
/* Variables couleurs primaire et secondaire */
/* Noir opacité 0.5 pour le rendre transparent */
/* Couleur des tags */
/* Couleur blanche, juste pour rendre plus pratiques les potentiels changements */
/* Couleurs des cercles */
/* Couleurs secondaires pour card perf digitale, économique, informatique */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #2f3436;
  color: white;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.center {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.frise-circles {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.frise-circles .circle {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  opacity: 0;
}
.frise-circles .circ-blue-1 {
  background-color: rgb(0, 172, 206);
  -webkit-animation: 3s forwards 0s appear;
          animation: 3s forwards 0s appear;
}
.frise-circles .circ-blue-2 {
  background-color: rgb(0, 170, 171);
  -webkit-animation: 3s forwards 0.25s appear;
          animation: 3s forwards 0.25s appear;
}
.frise-circles .circ-green-1 {
  background-color: rgb(11, 181, 146);
  -webkit-animation: 3s forwards 0.5s appear;
          animation: 3s forwards 0.5s appear;
}
.frise-circles .circ-green-2 {
  background-color: rgb(138, 197, 63);
  -webkit-animation: 3s forwards 0.75s appear;
          animation: 3s forwards 0.75s appear;
}
.frise-circles .circ-yellow-1 {
  background-color: rgb(253, 179, 20);
  -webkit-animation: 3s forwards 1s appear;
          animation: 3s forwards 1s appear;
}
.frise-circles .circ-yellow-2 {
  background-color: rgb(249, 158, 41);
  -webkit-animation: 3s forwards 1.25s appear;
          animation: 3s forwards 1.25s appear;
}
.frise-circles .circ-orange-1 {
  background-color: rgb(246, 139, 41);
  -webkit-animation: 3s forwards 1.5s appear;
          animation: 3s forwards 1.5s appear;
}
.frise-circles .circ-orange-2 {
  background-color: rgb(240, 123, 44);
  -webkit-animation: 3s forwards 1.75s appear;
          animation: 3s forwards 1.75s appear;
}
.frise-circles .circ-orange-3 {
  background-color: rgb(241, 92, 34);
  -webkit-animation: 3s forwards 2s appear;
          animation: 3s forwards 2s appear;
}
.frise-circles .circ-red-1 {
  background-color: rgb(237, 23, 77);
  -webkit-animation: 3s forwards 2.25s appear;
          animation: 3s forwards 2.25s appear;
}
.frise-circles .circ-pink-1 {
  background-color: rgb(233, 19, 118);
  -webkit-animation: 3s forwards 2.5s appear;
          animation: 3s forwards 2.5s appear;
}
.frise-circles .circ-purple-1 {
  background-color: rgb(180, 72, 155);
  -webkit-animation: 3s forwards 2.75s appear;
          animation: 3s forwards 2.75s appear;
}
.frise-circles .circ-purple-2 {
  background-color: rgb(111, 73, 157);
  -webkit-animation: 3s forwards 3s appear;
          animation: 3s forwards 3s appear;
}

.btn_next_sessions-home {
  background-color: rgb(255, 73, 73);
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-weight: 700;
  cursor: pointer;
}
.btn_next_sessions-home:hover {
  background-color: #fff;
  color: rgb(255, 73, 73);
  border: 1px solid rgb(255, 73, 73);
  transition: 0.2s ease-out;
}

.btn-learn-more {
  display: none;
  background-color: rgb(0, 102, 255);
  padding: 10px 18px;
  color: #fff;
  border: 1px solid #fff;
  width: 90%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 5%;
  right: 5%;
}
.btn-learn-more:hover {
  transition: all 0.3s ease;
  background-color: #fff;
  color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);
}

.btn-inscription {
  padding: 10px 100px;
  background-color: rgb(0, 102, 255);
  color: #fff;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-inscription:hover {
  background-color: rgba(0, 102, 255, 0.747);
}

.btn-go-to-formations {
  padding: 10px 100px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1089px) {
  .btn-go-to-formations {
    padding: 10px 50px;
    justify-self: center;
  }
}

.btn-perf-digitale {
  background-color: rgb(190, 94, 3);
  color: #fff;
  border: 2px solid #fff;
}
.btn-perf-digitale:hover {
  background-color: #fff;
  color: rgb(190, 94, 3);
  border-color: rgb(190, 94, 3);
}

.btn-perf-economique {
  background-color: rgb(40, 122, 37);
  color: #fff;
  border: 2px solid #fff;
}
.btn-perf-economique:hover {
  background-color: #fff;
  color: rgb(40, 122, 37);
  border-color: rgb(40, 122, 37);
}

.btn-perf-informatique {
  background-color: rgb(23, 115, 235);
  color: #fff;
  border: 2px solid #fff;
}
.btn-perf-informatique:hover {
  background-color: #fff;
  color: rgb(23, 115, 235);
  border-color: rgb(23, 115, 235);
}

.searchbar-home {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  gap: 20px;
}
.searchbar-home input {
  width: clamp(300px, 75%, 750px);
  padding: 20px;
  border-radius: 40px;
  border: 2px #fff solid;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  transition: all 0.15s ease;
  color: #fff;
}
.searchbar-home input::-moz-placeholder {
  color: #fff;
}
.searchbar-home input:-ms-input-placeholder {
  color: #fff;
}
.searchbar-home input::placeholder {
  color: #fff;
}
.searchbar-home input:focus {
  background-color: #fff;
  color: #000;
}
.searchbar-home .searchbar-icon {
  position: relative;
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 20px;
}
.searchbar-home .searchbar-icon:hover {
  transition: all 0.15s ease;
}

.searchbar-blue {
  background-color: rgb(0, 172, 206);
}
.searchbar-blue:hover {
  background-color: #00819b;
}

.searchbar-green {
  background-color: rgb(138, 197, 63);
}
.searchbar-green:hover {
  background-color: #6fa130;
}

.searchbar-orange {
  background-color: rgb(246, 139, 41);
}
.searchbar-orange:hover {
  background-color: #ca6508;
}

.searchbar-red {
  background-color: rgb(237, 23, 77);
}
.searchbar-red:hover {
  background-color: #aa0d35;
}

.searchbar-purple {
  background-color: rgb(180, 72, 155);
}
.searchbar-purple:hover {
  background-color: #90397c;
}

.video_container-home {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(images/photobureau4.png);
  background-size: cover;
}
.video_container-home #background_video-home {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 900px) {
  .video_container-home #background_video-home {
    display: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  #background_home-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #background_home-video {
    width: auto;
    height: 100%;
  }
}
.footer {
  background-color: rgb(31, 31, 31);
  padding: 70px 0;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
}
.footer .row::after {
  content: "";
  margin: 15px 0;
  width: 100%;
  height: 2px;
  background: #2f3436;
}
.footer ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgb(255, 73, 73);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #212628;
  transition: all 0.3s ease;
}
.footer-col .social-links a:hover {
  color: #fff;
  background-color: rgb(255, 73, 73);
}

.footer-down {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.footer-down img {
  height: 100px;
}
.footer-down .leftpart {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.footer-down .footer-logo {
  display: flex;
  align-items: center;
}
.footer-down .footer-certif {
  display: flex;
}
.footer-down .footer-certif img {
  height: 100px;
  filter: grayscale(100%);
}
.footer-down .rightpart {
  display: flex;
  gap: 30px;
  list-style-type: disc;
}
.footer-down .rightpart li:hover {
  text-decoration: underline;
}
.footer-down .rightpart #nostyle-li {
  list-style: none;
}

/* RESPONSIVE */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .leftpart {
    width: 100%;
    justify-content: center;
  }
  .rightpart {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 485px) {
  .footer-down {
    gap: 25px;
  }
  #footer-down-leftpart {
    gap: 0px;
  }
}
header {
  transition: background-color 0.3s ease;
  background-color: transparent;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
header.inverted {
  background-color: rgb(31, 31, 31);
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}
header .leftside-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
header .leftside-header img {
  width: 100px;
  border-radius: 50%;
  box-shadow: white 0px 0px 8px 3px;
}
header .leftside-header .logo-white {
  box-shadow: none;
  border-radius: 0;
}
header .rightside-header {
  height: 100%;
  display: flex;
  align-items: center;
}
header .rightside-header .navbar-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}
header .rightside-header .onglet_navbar-header {
  position: relative;
  font-weight: 500;
  color: #fff;
}
header .rightside-header .onglet_navbar-header a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
header .rightside-header .onglet_navbar-header ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
}
header .rightside-header .onglet_navbar-header #dropdown-formations li {
  background-color: rgb(0, 172, 206);
}
header .rightside-header .onglet_navbar-header #dropdown-formations li:hover {
  background-color: #00819b;
}
header .rightside-header .onglet_navbar-header #dropdown-ressources li {
  background-color: rgb(138, 197, 63);
}
header .rightside-header .onglet_navbar-header #dropdown-ressources li:hover {
  background-color: #6fa130;
}
header .rightside-header .onglet_navbar-header #dropdown-financements li {
  background-color: rgb(246, 139, 41);
}
header .rightside-header .onglet_navbar-header #dropdown-financements li:hover {
  background-color: #ca6508;
}
header .rightside-header .onglet_navbar-header #dropdown-freeledge li {
  background-color: rgb(237, 23, 77);
}
header .rightside-header .onglet_navbar-header #dropdown-freeledge li:hover {
  background-color: #aa0d35;
}
header .rightside-header .onglet_navbar-header #dropdown-informations li {
  background-color: rgb(180, 72, 155);
}
header .rightside-header .onglet_navbar-header #dropdown-informations li:hover {
  background-color: #90397c;
}
header .rightside-header .onglet_navbar-header li {
  opacity: 0;
}
header .rightside-header .onglet_navbar-header li:nth-child(1) {
  -webkit-animation: 0.5s forwards 0s appear;
          animation: 0.5s forwards 0s appear;
}
header .rightside-header .onglet_navbar-header li:nth-child(2) {
  -webkit-animation: 0.5s forwards 0.1s appear;
          animation: 0.5s forwards 0.1s appear;
}
header .rightside-header .onglet_navbar-header li:nth-child(3) {
  -webkit-animation: 0.5s forwards 0.2s appear;
          animation: 0.5s forwards 0.2s appear;
}
header .rightside-header .onglet_navbar-header > a {
  transition: all 0.2s ease;
}
header .rightside-header .onglet_navbar-header:hover > a {
  background-color: #fff;
}
header .rightside-header .onglet_navbar-header:hover ul {
  display: block;
}
header .rightside-header .onglet_navbar-header:hover .blue {
  color: rgb(0, 172, 206);
}
header .rightside-header .onglet_navbar-header:hover .green {
  color: rgb(138, 197, 63);
}
header .rightside-header .onglet_navbar-header:hover .orange {
  color: rgb(246, 139, 41);
}
header .rightside-header .onglet_navbar-header:hover .red {
  color: rgb(237, 23, 77);
}
header .rightside-header .onglet_navbar-header:hover .purple {
  color: rgb(180, 72, 155);
}
@media screen and (max-width: 1000px) {
  header .rightside-header .onglet_navbar-header {
    font-size: 12px;
  }
}
header .rightside-header .icon_navbar-header {
  margin-left: 20px;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  header .rightside-header .icon_navbar-header {
    font-size: 14px;
  }
}
header .rightside-header .icon_navbar-header:hover {
  transition: all ease 0.3s;
  color: grey;
}
header .rightside-header .menu_hamburger-header {
  display: none;
  position: absolute;
  right: 35px;
  top: 35px;
  width: 35px;
  cursor: pointer;
  filter: invert(100%) sepia(100%) saturate(21%) hue-rotate(213deg) brightness(105%) contrast(100%);
}
@media screen and (max-width: 800px) {
  header .rightside-header {
    width: 100%;
  }
  header .rightside-header .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    margin-left: -100vw;
    transition: all 0.5s ease;
  }
  header .rightside-header .navbar-header li {
    position: relative;
    font-size: 1.5em;
  }
  header .rightside-header .navbar-header li:hover ul {
    width: 100%;
    position: relative;
    top: 0;
  }
  header .rightside-header .onglet_navbar-header {
    width: 100%;
  }
  header .rightside-header .icon_navbar-header {
    font-size: 20px;
  }
  header .rightside-header .menu_hamburger-header {
    display: block;
  }
  header .rightside-header .mobile-menu {
    margin-left: 0;
  }
}

.top_container-home {
  padding: 200px 0 50px 0;
  text-align: center;
}
.top_container-home .welcometext-home {
  margin-bottom: 10px;
  font-size: 24px;
}
.top_container-home .searchbar_title-home {
  font-weight: 700;
  font-size: clamp(24px, 2.5vw, 36px);
  margin-bottom: 20px;
}
.top_container-home .searchbar_exemples-home {
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}

.next_sessions_container-home {
  position: relative;
  background-color: #2f3436;
  text-align: center;
  padding-bottom: 60px;
}
.next_sessions_container-home #btn_next_sessions_link {
  align-self: center;
  justify-self: center;
}
.next_sessions_container-home .center {
  display: flex;
  width: 100%;
  gap: 40px;
  flex-flow: column wrap;
  justify-content: center;
}
.next_sessions_container-home h2 {
  padding-top: 50px;
}
.next_sessions_container-home .container {
  display: flex;
  width: 100%;
  gap: 2em;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 0 20px;
}
.next_sessions_container-home .session_card-home {
  position: relative;
  width: 350px;
  height: 350px;
  background-image: url(images/photobureau1.png);
  background-size: cover;
}
.next_sessions_container-home .session_card-home .session_card_description-home {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40%;
  padding: 10px 20px;
  overflow: hidden;
}
.next_sessions_container-home .session_card-home .session_card_description-home h3 {
  margin-bottom: 15px;
}
.next_sessions_container-home .session_card-home .session_card_infos-home {
  opacity: 0;
}
.next_sessions_container-home .session_card-home:hover .session_card_description-home {
  transition: all 0.3s ease;
  justify-content: flex-start;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
}
.next_sessions_container-home .session_card-home:hover .session_card_infos-home {
  -webkit-animation: 0.5s forwards 0s appear;
          animation: 0.5s forwards 0s appear;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  font-size: 15px;
}
.next_sessions_container-home .session_card-home:hover .session_card_infos-home .card_enjeux {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.next_sessions_container-home .session_card-home:hover .btn-learn-more {
  display: block;
}

.finance_container-home {
  text-align: center;
  background-color: #212628;
  padding: 50px 0;
}
.finance_container-home .description_subtitle-home {
  margin: 10px 0 25px 0;
}
.finance_container-home .finance_cards_bloc-home {
  padding: 0 20px;
  display: flex;
  width: 100%;
  gap: 2em;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
.finance_container-home .finance_card-home {
  text-align: start;
  width: 300px;
  height: 320px;
  position: relative;
  background-color: #2f3436;
  padding: 15px;
}
.finance_container-home .finance_card-home:hover {
  background-color: #384144;
  transition: ease-in-out 0.2s;
}
.finance_container-home .finance_card_tag-home {
  color: rgb(255, 73, 73);
  font-size: 13px;
}
.finance_container-home .finance_card_title-home {
  font-size: 18px;
  font-weight: 600;
}
.finance_container-home .finance_card-home img {
  position: absolute;
  display: block;
  padding: 0 12px;
  width: 100%;
  height: 160px;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
}

.satisfaction_client_container-home {
  padding: 100px;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(images/fond/champs.jpg);
  background-size: cover;
  background-position: 50% 28%;
  height: auto;
  display: flex;
  flex-flow: wrap;
  gap: 50px;
}
.satisfaction_client_container-home .satisfaction_client_card-home {
  margin: 0 auto;
  text-align: center;
  width: 170px;
}
.satisfaction_client_container-home .satisfaction_client_card-home h4 {
  font-size: 36px;
  font-weight: 600;
}
.satisfaction_client_container-home .satisfaction_client_card-home img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 0 auto 15px auto;
}

.reconversion_job_container-home {
  text-align: center;
  padding: 50px 0;
  background-color: #212628;
}
.reconversion_job_container-home .reconversion_job_cards_container-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 30px;
  padding: 0 30px;
}
.reconversion_job_container-home .container-title {
  margin-bottom: 10px;
}
.reconversion_job_container-home .container-description {
  margin-bottom: 30px;
}
.reconversion_job_container-home .perf-digitale {
  background: linear-gradient(to bottom, rgba(253, 180, 20, 0.5), rgb(253, 180, 20));
}
.reconversion_job_container-home .perf-economique {
  background: linear-gradient(to bottom, rgba(138, 197, 63, 0.5), rgb(138, 197, 63));
}
.reconversion_job_container-home .perf-informatique {
  background: linear-gradient(to bottom, rgba(0, 172, 206, 0.5), rgb(0, 172, 206));
}
.reconversion_job_container-home .reconversion_job_card-home {
  text-align: center;
  position: relative;
  padding: 40px 40px 25px 40px;
  width: 500px;
}
.reconversion_job_container-home .reconversion_job_card-home img {
  position: relative;
  width: 100%;
  height: 280px;
}
@media (max-width: 1089px) {
  .reconversion_job_container-home .reconversion_job_card-home {
    width: 400px;
    padding: 30px 30px 15px 30px;
  }
  .reconversion_job_container-home .reconversion_job_card-home h3 {
    font-size: 22px;
  }
  .reconversion_job_container-home .reconversion_job_card-home img {
    height: 200px;
  }
}
.reconversion_job_container-home .reconversion_job_card-home:hover {
  background-color: #474e51;
  transition: ease-in-out 0.2s;
}
.reconversion_job_container-home .reconversion_job_card_title-home {
  position: relative;
  top: 0;
  font-size: 28px;
  padding-bottom: 26px;
}
.reconversion_job_container-home .reconversion_job_card_date-home {
  position: relative;
  bottom: 0;
  padding-top: 20px;
  font-size: 19px;
  font-weight: 600;
  color: rgb(214, 216, 67);
}

.collaborateurs_container-home {
  background-color: #2f3436;
  width: 100%;
  padding: 50px 0;
}
.collaborateurs_container-home .collaborateurs_title-home {
  text-align: center;
  margin-bottom: 30px;
}
.collaborateurs_container-home .collaborateurs_slide-home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
.collaborateurs_container-home .collaborateurs_slide_image-home {
  height: 150px;
}
.collaborateurs_container-home .collaborateurs_slide_image-home img {
  height: 100%;
}

.container-formations {
  padding-top: 100px;
  text-align: center;
}
.container-formations .top_card_title {
  font-size: 36px;
  font-weight: 700;
}
.container-formations .top_card_container {
  display: flex;
  justify-content: center;
}
.container-formations .top_card {
  padding-top: 60px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

.container-formation .upper-part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 400px;
  gap: 30px;
}
.container-formation .upper-part h1 {
  font-size: 24px;
}
.container-formation .upper-part h1:after {
  content: "";
  width: 100%;
  display: block;
  background-color: #fff;
  height: 2px;
}
.container-formation .container {
  display: flex;
  padding: 50px 120px;
  line-height: 2em;
}
.container-formation .container .left-part {
  position: relative;
  width: 60%;
}
.container-formation .container .left-part::after {
  position: absolute;
  margin: 0 20px;
  right: 0;
  top: 0;
  content: "";
  background-color: #fff;
  width: 1px;
  height: 100%;
  display: block;
}
.container-formation .container .left-part h3 {
  font-size: 20px;
  font-weight: 700;
}
.container-formation .container .left-part h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
}
.container-formation .container .left-part li {
  list-style-type: disc;
  font-size: 16px;
}
.container-formation .container .left-part img {
  width: 150px;
}
.container-formation .container .right-part {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 40%;
}
.container-formation .container .right-part h3 {
  margin: 20px 0 8px 0;
}
.container-formation .container .right-part .rectangle {
  padding: 2px 8px;
  background-color: rgb(146, 143, 143);
  border-radius: 10px;
}
.container-formation .container .right-part .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #212628;
  transition: all 0.3s ease;
}
.container-formation .container .right-part .social-links a:hover {
  color: #fff;
  background-color: rgb(255, 73, 73);
}

.bg-yellow {
  background-image: linear-gradient(to bottom, rgba(253, 180, 20, 0.1), rgba(253, 180, 20, 0.8)), url(images/photobureau4.png);
  background-size: cover;
}

.bg-green {
  background-image: linear-gradient(to bottom, rgba(138, 197, 63, 0.1), rgba(138, 197, 63, 0.8)), url(images/photobureau4.png);
  background-size: cover;
}

.bg-blue {
  background-image: linear-gradient(to bottom, rgba(0, 172, 206, 0.1), rgba(0, 172, 206, 0.8)), url(images/photobureau4.png);
  background-size: cover;
}

.container-infospratiques .upper-part {
  background-color: #212628;
  background-image: linear-gradient(to bottom, rgba(133, 133, 133, 0.3), rgba(126, 126, 126, 0.8)), url(images/photobureau4.png);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.container-infospratiques .upper-part h1 {
  font-size: 24px;
}
.container-infospratiques .upper-part h1:after {
  content: "";
  width: 100%;
  display: block;
  background-color: #fff;
  height: 2px;
}
.container-infospratiques .container {
  padding: 50px 100px;
}
.container-infospratiques .container h2 {
  position: relative;
  text-align: center;
  margin: 70px 0;
}
.container-infospratiques .container h2:before {
  position: absolute;
  top: -40px;
  right: 35%;
  left: 35%;
  content: "";
  width: 30%;
  display: block;
  background-color: #212628;
  height: 2px;
}
.container-infospratiques .container ul li {
  line-height: 1.9em;
  list-style-type: disc;
  font-size: 16px;
}
.container-infospratiques .container strong {
  font-weight: 700;
}
.container-infospratiques .container a {
  cursor: pointer;
  color: rgb(8, 156, 255);
}
.container-infospratiques .container a:hover {
  color: #6ec5ff;
}/*# sourceMappingURL=main.css.map */