.top_container-home {
    padding-top: 150px;
    text-align: center;

    .welcometext-home {
        margin-bottom: 16px;
        font-size: 24px;
    }

    .searchbar_title-home {
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .searchbar_exemples-home {
        font-size: 12px;
        margin-top: 8px;
        text-align: start;
        margin-left: 200px;
    }

    .review_stars-home {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 250px;
        margin: 40px auto;
        gap: 10px;
        font-size: 24px;

        p {
            font-weight: 600;
        }
    }

    .reviews_verified-home {
        font-size: 24px; 
    }
}

.finance_container-home {
    text-align: center;

    .subtitle-home {
        padding-top: 30px;
    }

    .description_subtitle-home {
        margin: 10px 0 25px 0;
    }

    .finance_cards_bloc-home {
        width: auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: $color_primary;

        a {
            width: 25%;
        }
    }

    .finance_card-home {
        text-align: start;
        width: 100%;
        height: 320px;
        position: relative;
        background-color: $color_secondary;
        padding: 15px;

        &:hover {
            background-color: lighten($color_secondary, 10%);
            transition: ease-in-out 0.2s;
        }
    }

    .finance_card_tag-home {
        color: $tag_color;
        font-size: 13px;
    }

    .finance_card_title-home {
        font-size: 18px;
        font-weight: 600;
    }

    .finance_card-home img {
        position: absolute;
        display: block;
        width: 250px;
        height: 160px;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
    }
}

.next_sessions_container-home {
    background-color: $color_secondary;
    text-align: center;
    padding-bottom: 10px;

    .subtitle-home {
        padding-top: 50px;
        margin-bottom: 25px;
    }

    .next_sessions_card-home {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 50px;
    }

    .session_card-home {
        position: relative;
        width: 350px;
        height: 350px;
        background-image: url(images/photobureau1.png);
        background-size: cover;
    }

    .session_card_description-home {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: start;
        background-color: $color_transparent;
        width: 100%;
        height: 40%;
        padding: 20px;
    }

    .session_card_review-home {
        display: flex;
        gap: 10px;

        p {
            font-weight: 700;
        }
    }
}

.reconversion_job_container-home {
    text-align: center;

    .reconversion_job_container_title-home {
        margin-bottom: 10px;
    }

    .reconversion_job_container_description-home {
        margin-bottom: 30px;
    }

    .reconversion_job_cards_container-home {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            width: 50%;
        }
    }

    .reconversion_job_card-home {
        text-align: start;
        width: 100%;
        position: relative;
        background-color: $color_secondary;
        padding: 40px;

        img {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 300px;
        }

        &:hover {
            background-color: lighten($color_secondary, 10%);
            transition: ease-in-out 0.2s;
        }
    }

    .reconversion_job_card_tag-home {
        color: $tag_color;
    }

    .reconversion_job_card_title-home {
        position: relative;
        top: 0;
        font-size: 28px;
        padding-bottom: 26px;
    }

    .reconversion_job_card_date-home {
        position: relative;
        bottom: 0;
        padding-top: 20px;
        font-size: 19px;
        font-weight: 600;
        color: rgb(214, 216, 67);
    }
}

.collaborateurs_container-home {
    background-color: $color_secondary;
    width: 100%;
    padding: 50px 0;

    .collaborateurs_title-home {
        text-align: center;
        margin-bottom: 30px;
    }

    .collaborateurs_slide-home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    .collaborateurs_slide_image-home {
        height: 150px;

        img {
            height: 100%;
        }
    }
}