*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul,
ol {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: $color_secondary;
    color: white;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.center {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.color-blue {
    color: $blue;
}
.color-green {
    color: $green;
}
.color-orange {
    color: $orange;
}
.color-red {
    color: $red;
}
.color-purple {
    color: $purple;
}