.top_container-home {
    padding: 200px 0 50px 0;
    text-align: center;

    .welcometext-home {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .searchbar_title-home {
        font-weight: 700;
        font-size: clamp(24px, 2.5vw, 36px);
        margin-bottom: 20px;
    }

    .searchbar_exemples-home {
        font-size: 12px;
        margin-top: 8px;
        text-align: center;
    }
}

.next_sessions_container-home {
    position: relative;
    background-color: $color_secondary;
    text-align: center;
    padding-bottom: 60px;

    #btn_next_sessions_link {
        align-self: center;
        justify-self: center;
    }

    .center {
        display: flex;
        width: 100%;
        gap: 40px;
        flex-flow: column wrap;
        justify-content: center;
    }

    h2 {
        padding-top: 50px;
    }

    .container {
        display: flex;
        width: 100%;
        gap: 2em;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
        padding: 0 20px;
    }

    .session_card-home {
        position: relative;
        width: 350px;
        height: 350px;
        background-image: url(images/photobureau1.png);
        background-size: cover;
  
        .session_card_description-home {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: start;
            background-color: $color_transparent;
            width: 100%;
            height: 40%;
            padding: 10px 20px;
            overflow: hidden;

            h3 {
                margin-bottom: 15px;
            }
        }

        .session_card_infos-home {
            opacity: 0;
        }

        &:hover {
            
            .session_card_description-home {
                transition: all 0.3s ease;
                justify-content: flex-start;
                height: 100%;
                background-color: rgba(0,0,0,0.9);
            }

            .session_card_infos-home {
                animation: 0.5s forwards 0s appear;
                display: flex;
                flex-flow: column wrap;
                gap: 15px;
                font-size: 15px;

                .card_enjeux {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .btn-learn-more {
                display: block;
            }
        }
    }
}

.finance_container-home {
    text-align: center;
    background-color: $color_primary;
    padding: 50px 0;

    .description_subtitle-home {
        margin: 10px 0 25px 0;
    }

    .finance_cards_bloc-home {
        padding: 0 20px;
        display: flex;
        width: 100%;
        gap: 2em;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
    }

    .finance_card-home {
        text-align: start;
        width: 300px;
        height: 320px;
        position: relative;
        background-color: $color_secondary;
        padding: 15px;

        &:hover {
            background-color: lighten($color_primary, 10%);
            transition: ease-in-out 0.2s;
        }
    }

    .finance_card_tag-home {
        color: $tag_color;
        font-size: 13px;
    }

    .finance_card_title-home {
        font-size: 18px;
        font-weight: 600;
    }

    .finance_card-home img {
        position: absolute;
        display: block;
        padding: 0 12px;
        width: 100%;
        height: 160px;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
    }
}

.satisfaction_client_container-home {
    padding: 100px;
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(images/fond/champs.jpg);
    background-size: cover;
    background-position: 50% 28%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    gap: 50px;

    .satisfaction_client_card-home {
        margin: 0 auto;
        text-align: center;
        width: 170px;

        h4 {
            font-size: 36px;
            font-weight: 600;
        }

        img {
            object-fit: cover;
            width: 80px;
            height: 80px;
            margin: 0 auto 15px auto;
        }
    }
}

.reconversion_job_container-home {
    text-align: center;
    padding: 50px 0;
    background-color: $color_primary;

    .reconversion_job_cards_container-home {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        gap: 30px;
        padding: 0 30px;
    }

    .container-title {
        margin-bottom: 10px;
    }

    .container-description {
        margin-bottom: 30px;
    }

    .perf-digitale {
        background: linear-gradient(to bottom, rgba(253, 180, 20, 0.5), rgba(253, 180, 20, 1));
    }

    .perf-economique {
        background: linear-gradient(to bottom, rgba(138, 197, 63, 0.5), rgba(138, 197, 63, 1));
    }

    .perf-informatique {
        background: linear-gradient(to bottom, rgba(0, 172, 206, 0.5), rgba(0, 172, 206, 1));
    }

    .reconversion_job_card-home {
        text-align: center;
        position: relative;
        padding: 40px 40px 25px 40px;
        width: 500px;

        img {
            position: relative;
            width: 100%;
            height: 280px;
        }

        @media (max-width: 1089px) {
            width: 400px;
            padding: 30px 30px 15px 30px;

            h3 {
                font-size: 22px;
            }

            img {
                height: 200px;
            }
        }

        &:hover {
            background-color: lighten($color_secondary, 10%);
            transition: ease-in-out 0.2s;
        }
    }

    .reconversion_job_card_title-home {
        position: relative;
        top: 0;
        font-size: 28px;
        padding-bottom: 26px;
    }

    .reconversion_job_card_date-home {
        position: relative;
        bottom: 0;
        padding-top: 20px;
        font-size: 19px;
        font-weight: 600;
        color: rgb(214, 216, 67);
    }
}

.collaborateurs_container-home {
    background-color: $color_secondary;
    width: 100%;
    padding: 50px 0;

    .collaborateurs_title-home {
        text-align: center;
        margin-bottom: 30px;
    }

    .collaborateurs_slide-home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    .collaborateurs_slide_image-home {
        height: 150px;

        img {
            height: 100%;
        }
    }
}