.top_container-home {
    padding: 200px 0 50px 0;
    text-align: center;

    .welcometext-home {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .searchbar_title-home {
        font-weight: 700;
        font-size: clamp(24px, 2.5vw, 36px);
        margin-bottom: 20px;
    }

    .searchbar_exemples-home {
        font-size: 12px;
        margin-top: 8px;
        text-align: center;
    }

    .review_stars-home {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 250px;
        margin: 40px auto;
        gap: 10px;
        font-size: 24px;

        p {
            font-weight: 600;
        }
    }

    .reviews_verified-home {
        font-size: 24px; 
    }
}

.next_sessions_container-home {
    position: relative;
    background-color: $color_secondary;
    text-align: center;
    padding-bottom: 60px;

    .center {
        display: flex;
        width: 100%;
        gap: 40px;
        flex-flow: column wrap;
        justify-content: center;
    }

    h2 {
        padding-top: 50px;
    }

    .grid {
        display: grid;
        width: 100%;
        gap: 2em;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .session_card-home {
        position: relative;
        width: 350px;
        max-width: 100%;
        height: 350px;
        background-image: url(images/photobureau1.png);
        background-size: cover;
        justify-self: space-around;

        &:hover {
            .session_card_description-home {
                transition: all 0.3s ease;
                height: 100%;
                justify-content: flex-start;
                background-color: rgba(0,0,0,0.7);
            }

            .session_card_infos-home {
                display: block;
            }
        }
    }

    .session_card_description-home {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: start;
        background-color: $color_transparent;
        width: 100%;
        height: 40%;
        padding: 10px 20px;
    }

    .session_card_infos-home {
        display: none;
    }
}

.finance_container-home {
    text-align: center;
    background-color: $color_primary;
    padding: 50px 0;

    .description_subtitle-home {
        margin: 10px 0 25px 0;
    }

    /*
    .finance_cards_bloc-home {
        width: auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: $color_primary;

        a {
            width: 25%;
        }
    }
    */
    .finance_cards_bloc-home {
        padding: 0 20px;
        display: grid;
        width: 100%;
        gap: 2em;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        a {
            width: 100%;
        }
    }

    .finance_card-home {
        text-align: start;
        width: 100%;
        height: 320px;
        position: relative;
        background-color: $color_secondary;
        padding: 15px;

        &:hover {
            background-color: lighten($color_primary, 10%);
            transition: ease-in-out 0.2s;
        }
    }

    .finance_card_tag-home {
        color: $tag_color;
        font-size: 13px;
    }

    .finance_card_title-home {
        font-size: 18px;
        font-weight: 600;
    }

    .finance_card-home img {
        position: absolute;
        display: block;
        padding: 0 12px;
        width: 100%;
        height: 160px;
        bottom: 20px;
        transform: translateX(-50%);
        left: 50%;
    }
}

.satisfaction_client_container-home {
    padding: 50px 20px;
    background-color: $color_secondary;
    height: auto;
    display: flex;
    flex-flow: row wrap;

    .satisfaction_client_card-home {
        text-align: center;
        width: 25%;

        @media (401px <= width <= 800px) {
            width: 50%;
        }

        @media screen and (max-width: 400px) {
            width: 100%;
        }

        img {
            object-fit: cover;
            width: 100px;
            height: 100px;
            margin: 0 auto 15px auto;
        }
    }
}

.reconversion_job_container-home {
    text-align: center;
    padding: 50px 0;
    background-color: $color_primary;

    .reconversion_job_container_title-home {
        margin-bottom: 10px;
    }

    .reconversion_job_container_description-home {
        margin-bottom: 30px;
    }

    .reconversion_job_cards_container-home {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            width: 50%;
        }
    }

    .reconversion_job_card-home {
        text-align: start;
        width: 100%;
        position: relative;
        background-color: $color_secondary;
        padding: 40px;

        img {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 300px;
        }

        &:hover {
            background-color: lighten($color_secondary, 10%);
            transition: ease-in-out 0.2s;
        }
    }

    .reconversion_job_card_tag-home {
        color: $tag_color;
    }

    .reconversion_job_card_title-home {
        position: relative;
        top: 0;
        font-size: 28px;
        padding-bottom: 26px;
    }

    .reconversion_job_card_date-home {
        position: relative;
        bottom: 0;
        padding-top: 20px;
        font-size: 19px;
        font-weight: 600;
        color: rgb(214, 216, 67);
    }
}

.collaborateurs_container-home {
    background-color: $color_secondary;
    width: 100%;
    padding: 50px 0;

    .collaborateurs_title-home {
        text-align: center;
        margin-bottom: 30px;
    }

    .collaborateurs_slide-home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    .collaborateurs_slide_image-home {
        height: 150px;

        img {
            height: 100%;
        }
    }
}