.container-infospratiques {

    .upper-part {
        background-color: $color_primary;
        background-image: linear-gradient(to bottom, rgba(133, 133, 133, 0.3), rgba(126, 126, 126, 0.8)), url(images/photobureau4.png);
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;

        h1 {
            font-size: 24px;

            &:after {
                content: "";
                width: 100%;
                display: block;
                background-color: $white;
                height: 2px;
            }
        }
    }

    .container {
        
        padding: 50px 100px;
        
        h2 {
            position: relative;
            text-align: center;
            margin: 70px 0;

            &:before {
                position: absolute;
                top: -40px;
                right: 35%;
                left: 35%;
                content: "";
                width: 30%;
                display: block;
                background-color: $color_primary;
                height: 2px;
            }
        }

        ul li {
            line-height: 1.9em;
            list-style-type: disc;
            font-size: 16px;
        }

        strong {
            font-weight: 700;
        }

        a {
            cursor: pointer;
            color: rgb(8, 156, 255);

            &:hover {
                color: lighten(rgb(8, 156, 255), 20%);
            }
        }
    }
}