.btn_next_sessions-home {
    background-color: $tag_color;
    color: $white;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid $white;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $tag_color;
        border: 1px solid $tag_color;
        transition: 0.2s ease-out;
    }
}