/* Variables couleurs primaire et secondaire */

$color_primary: #212628;
$color_secondary: #2f3436;

/* Noir opacité 0.5 pour le rendre transparent */

$color_transparent: rgba(0, 0, 0, 0.7);

/* Couleur des tags */

$tag_color: rgb(255, 73, 73);

/* Couleur blanche, juste pour rendre plus pratiques les potentiels changements */

$white: #fff;

/* Couleurs des cercles */

$blue: rgb(0, 172, 206);
$green: rgb(138, 197, 63);
$orange: rgb(246, 139, 41);
$red: rgb(237, 23, 77);
$purple: rgb(180, 72, 155);

/* Couleurs secondaires pour card perf digitale, économique, informatique */

$informatique-secondary: rgb(23, 115, 235);
$digitale-secondary: rgb(190, 94, 3);
$economique-secondary: rgb(40, 122, 37);
