/* Variables couleurs primaire et secondaire */

$color_primary: #212628;
$color_secondary: #2f3436;

/* Noir opacité 0.5 pour le rendre transparent */

$color_transparent: rgba(0, 0, 0, 0.5);

/* Couleur des tags */

$tag_color: rgb(255, 73, 73);

/* Couleur blanche, juste pour rendre plus pratiques les potentiels changements */

$white: #fff;

