.footer {
  background-color: rgb(31, 31, 31);
  padding: 70px 0;

  .container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
}

.footer-col {
  width: 25%;
  padding: 0 15px;

  h4 {
    font-size: 18px;
    color: $white;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
  }
  h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: $white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: $white;
    display: block;
    transition: all 0.3s ease;
  }
  ul li a:hover {
    color: $tag_color;
    padding-left: 8px;
  }
  .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: $white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $color_primary;
    transition: all 0.3s ease;
  }
  .social-links a:hover {
    color: $white;
    background-color: $tag_color;
  }
}

/* RESPONSIVE */

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}