header {
    transition: background-color 0.3s ease;
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

    &.inverted {
        background-color: rgb(31, 31, 31);
        box-shadow: 0 3px 5px 0.3px rgba (0,0,0,0.1);
    }

    .leftside-header {
        display: flex;
        align-items: center;

        #logofreeledge {
            width: 85px;
            border-radius: 50%;
            box-shadow: white 0px 0px 15px 5px; 
        }

        .aside_logo-header {
            margin-left: 20px;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .rightside-header {

        .navbar-header {
            display: flex;
            flex-flow: row wrap;
        }

        .onglet_navbar-header {
            margin-right: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: $white;

            &:hover {
                padding-top: 1px;

                a {transition: all 0.3s ease;
                    color: $tag_color;}
            }
        }
    
        .icon_navbar-header {
            margin-right: 20px;
            font-size: 24px;
            transition: all 0.3s ease;

            &:hover {
                color: red;
            }
        }
    }
    
}